<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

<nav th:replace="layouts :: navbar"></nav>
<br><br>
<div class="container">
    <form action="/projects/save" th:object="${project}" method="POST">

        <input type="text" placeholder="Project Name" th:field="${project.name}" >

        <select th:field="${project.stage}">
            <option th:value="NOTSTARTED"> Not Started</option>
            <option th:value="INPROGRESS"> In Progress</option>
            <option th:value="COMPLETED"> Completed</option>
        </select>

        <textarea type="text" placeholder="Enter Project Description" th:field="${project.description}" ></textarea>

<!--        //you can use "${project.employees} in the field, astrick is short form-->
        <select th:field="*{employees}" multiple="multiple">
            <option th:each = "employee : ${allEmployees}"
                    th:value=" ${employee.employeeId}"
                    th:text=" ${employee.firstName}">
            </option>
        </select>

        <button type="submit">Create Project</button>

    </form>
</div>



</body>
</html>