<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://wwww.thymeleaf.org">-->
<!--<head>-->
<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

<!--</head>-->

<!--<body>-->

<!--<nav th:replace="layouts :: navbar"></nav>-->
<!--<br><br>-->
<!--<div class="container">-->
<!--    <form action="#"-->
<!--          th:action="@{/employees/edit/{employeeId}(id=${employee.employeeId})}"-->
<!--          th:object="${editEmployee}"-->
<!--          method="get">-->

<!--        <input type="text" placeholder="First Name" th:field="${editEmployee.firstName}" >-->

<!--        <input type="text" placeholder="Last Name" th:field="${editEmployee.lastName}" >-->

<!--        <input type="text" placeholder="Email" th:field="${editEmployee.email}" >-->

<!--        <button type="submit">Create Project</button>-->

<!--    </form>-->
<!--</div>-->

<!--<form action="#"-->
<!--      th:action="@{/updat e/{id}(id=${user.id})}"-->
<!--      th:object="${user}"-->
<!--      method="post">-->
<!--    <label for="name">Name</label>-->
<!--    <input type="text" th:field="*{name}" id="name" placeholder="Name">-->
<!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
<!--    <label for="email">Email</label>-->
<!--    <input type="text" th:field="*{email}" id="email" placeholder="Email">-->
<!--    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>-->
<!--    <input type="submit" value="Update User">-->
<!--</form>-->